<h1>Posts</h1>
<div class="main-container">
    <div *ngIf="posts.length">
        <div class="posts" *ngFor="let post of posts; let i = index">
            <ul>
                <div class="upperrow">
                    <li>
                        {{ i + 1 }}
                    </li>
                    <li>
                        <h3 class="channel">{{ post.channel }}</h3>
                    </li>
                    <li>
                        <h3>Posted by: {{ post.userId.username }}</h3>
                    </li>
                    <li>
                        <h3>{{ post.timestamp | elapsedTime }}</h3>
                    </li>
                </div>
                <div class="bottomrow">
                    <li>
                        <h3>{{ post.title }}</h3>
                    </li>
                    <li>
                        <h3>{{ post.content }}</h3>
                    </li>
                    <li>
                        <a target="_blank" [href]="post.url">{{ post.url }}</a>
                    </li>

                </div>
            </ul>
            <span class="bottom-right">
                <li class="delicon" *ngIf="isLoggedIn && jwtDecode() === post.userId.username" (click)="openDialog(post._id)"> <i class="material-icons">
                  delete
                </i></li>
              </span>
        </div>
    </div>
    <p *ngIf="!posts.length">There aren't any posts yet</p>
</div>