.main-container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  background-color: #dae0e6;
  padding: 20px;
  border-radius: 3px;
}

.posts {
  margin: 10px;
  background-color: white;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 28px;
  text-shadow: 2px;
}

ul {
  grid-auto-rows: auto;
  border: 1px solid lightgreen;
  border-radius: 3px;
  height: 160px;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

li {
  display: flex;
  padding: 5px;
}

.upperrow {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  margin-bottom: 8px;
  font-size: 10px;
}

mat-nav-list {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3px;
  height: 140px;
}

.delicon {
  cursor: pointer;
  float: right;
  color: red;
  position: relative;
}
.csore {
  width: 100px;
  height: 100px;
}
