<h1>Posts</h1>
<div class="main-container">
  <div *ngIf="posts.length">
    <div *ngFor="let post of posts; let i = index">
      <mat-nav-list>
        <mat-list-item>
          <h2>Post: {{ i + 1 }}</h2>
        </mat-list-item>
        <mat-list-item>
          <h3>{{ post.title }}</h3>
        </mat-list-item>
        <mat-list-item>
          <h3>{{ post.content }}</h3>
        </mat-list-item>
        <mat-list-item>
          <h3>{{ post.channel }}</h3>
        </mat-list-item>
        <mat-list-item>
          <h3>{{ post.timestamp | elapsedTime }}</h3>
        </mat-list-item>
        <!-- <mat-list-item>
          <h3>{{ post.userId.username }}</h3>
        </mat-list-item> -->
        <mat-list-item *ngIf="isLoggedIn" (click)="openDialog(post._id)">
          <i class="material-icons">
            delete
          </i>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <p *ngIf="!posts.length">There aren't any posts yet</p>
</div>
