.navbar {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    padding: 20px 0px;
    width: 100vw;
    height: 10vh;
}

.navbar-logo,
.logo {
    height: 10vh;
    padding: 0px;
    margin-left: 10px;
}