<nav class="navbar fixed-top">
    <a class="navbar-logo" routerLink="/">
        <img class="logo" src="/assets/duck-transparent-toy-2.png">
    </a>
    <div class="app-dropdown">
        <app-dropdown #channelSelector (click)="selectedChannel()"></app-dropdown>
        <app-dropdown #newPostSelector (click)="selectedFreshPosts()"></app-dropdown>
    </div>
    <button *ngIf="isLoggedIn()" mat-raised-button (click)="logOut() " routerLink="/">  Welcome {{userName}} <br> Logout</button>
    <button *ngIf="!isLoggedIn()" mat-raised-button routerLink="/login"> Login</button>
</nav>