<div [formGroup]="entity">
    <mat-form-field [ngStyle]="{'font-weight':600}">
        <mat-select (selectionChange)="selectedChannel($event)" placeholder={{placeholder}} [formControlName]="'entity'">
            <mat-option [ngStyle]="{'font-weight':600, 'color': red}" value="">All Channels</mat-option>
            <mat-option [ngStyle]="{'font-weight': 600}" *ngFor=" let entity of entities " [(value)]="entity ">
                {{entity}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>