<form action="POST" class="formo" [formGroup]="form">
  <!-- (ngSubmit)="giveData()" -->
  <label for="user">UN</label>
  <input type="text" name="user" formControlName="username" />
  <div
    *ngIf="form.controls.['username'].invalid && (form.controls['username'].dirty || form.controls['username'].touched)">
    <div *ngIf="angForm.controls['name'].errors.required">
      Username is required.
    </div>
  </div>
  <label for="pass">PW</label>
  <input type="text" name="pass" />
  <button type="submit"></button>
</form>