<form action="submit" class="formo" [formGroup]="submitForm">
    <mat-form-field>
        <input type="text" matInput placeholder="Title*" formControlName="title" autofocus/>
        <mat-error *ngIf="hasError('title', 'required')">Title is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea type="text" matInput rows="10" cols="150" placeholder="Type your post here*" formControlName="content"></textarea>
        <mat-error *ngIf="hasError('content', 'required')">Content is required.</mat-error>
        <mat-error *ngIf="hasError('content', 'maxlength')">Content can't be longer than 255 characters.</mat-error>
    </mat-form-field>
    <app-dropdown #dropDownSelector [entities]=dropDownSelector.channels (click)=selectedChannel()>
    </app-dropdown>
    <button type="button" mat-raised-button [disabled]="submitForm.invalid || isChannelSelected" (click)="submitData()"> 
         Submit
        </button>
</form>