.formo {
    padding-top: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
    width: 25%;
}

mat-tab-group {
    display: flex;
}